In [ ]:
# start with pandas and numpy

In [1]:
import pandas as pd
import numpy as np

In [2]:
# import the data set
data1 =  pd.read_csv("C:\\Users\\Manohar Kapse\\PyCaret\\happyness_scale.csv")

In [3]:
data1.head()

,Country,SNO,Happyness_Score,GDP,Social_support,Healthy_life_expectancy,Freedom_to_make_life_choices,Generosity,Perceptions_of_corruption
0,country1,1,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,country2,2,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,country3,3,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,country4,4,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,country5,5,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [4]:
from pycaret import *

In [5]:
### https://pycaret.gitbook.io/docs/

In [6]:
from pycaret.regression import *

In [7]:
# start regression with 
# RegressionExperiment
reg_exp = RegressionExperiment()

In [8]:
# Basic setup
# Step 1
reg_exp1 = reg_exp.setup(data=data1, target="Happyness_Score")

In [10]:
#Add type of variables in setup, numeric, categorical and ordinal
#1. ignore_features, is also used for removing the variables 
#Such as name, sno etc None
#2. numeric_features: list of string, default = None
#3. categorical_features: list of string, default = None

In [15]:
# step 2
reg_exp1=reg_exp.setup(data=data1, target="Happyness_Score", 
      ignore_features=["Country", "SNO"])

In [16]:
# step 3
# want to inform the system about the variables information 
# such as numeric, ordinal and categorical
reg_exp1= reg_exp.setup(data=data1, target="Happyness_Score", 
                              numeric_features=["GDP",
                                                "Social_support", 
                                                "Healthy_life_expectancy",  
                                                "Freedom_to_make_life_choices", 
                                                "Generosity",  
                                                "Perceptions_of_corruption"], 
                             ignore_features=["Country", "SNO"])

In [17]:
# step 3
# want to inform the system about the variables
# such as numeric, ordinal and categorical
reg_exp1= reg_exp.setup(data=data1, target="Happyness_Score", 
                              numeric_features=["GDP",
                                                "Social_support", 
                                                "Healthy_life_expectancy",  
                                                "Freedom_to_make_life_choices", 
                                                "Generosity",  
                                                "Perceptions_of_corruption"],
      categorical_features=["Country"],
      ignore_features=["SNO"])

In [ ]:
# Preprocess 
# preprocess = True, 
When set to False, no transformations are applied except for train_test_split 
and custom transformations passed in custom_pipeline param.

In [ ]:
#How to pre process data
1.missing value
# imputation type: simple, none and iterative
A. remove missing or B. impute them.
    to remove missing use drop in imputation
1. numeric imputation
    drop: Drop rows containing missing values. 
    mean: Impute with mean of column. 
    median: Impute with median of column.
    mode: Impute with most frequent value.
    knn: Impute using a K-Nearest Neighbors approach. 
    int or float: Impute with provided numerical value.

In [18]:
reg_exp1 = reg_exp1.setup(data=data1, target="Happyness_Score",
numeric_imputation="mean")

2. categorical imputation
drop: Drop rows containing missing values.
mode: Impute with most frequent value.
str: Impute with provided string.

In [19]:
reg_exp1 = reg_exp.setup(data=data1, target="Happyness_Score",
categorical_imputation="mode")

In [24]:
reg_exp1=reg_exp.setup(data=data1, target="Happyness_Score", imputation_type='simple')

In [ ]:
2.outliers detection

remove_outliers: bool = False,
    outliers_method: str = 'iforest',
    outliers_threshold: float = 0.05,
        
'iforest': Uses sklearn's IsolationForest.
'ee': Uses sklearn's EllipticEnvelope.
'lof': Uses sklearn's LocalOutlierFactor.

In [ ]:
3.Scale-normalize
normalize: bool = False,
normalize_method: str = 'zscore',
      
z-score
The standard zscore is calculated as z = (x – u) / s
minmax
scales and translates each feature individually such that it is in the
range of 0 – 1.
maxabs
scales and translates each feature individually such that the
maximal absolute value of each feature will be 1.0. 
It does not shift/center the data and thus does not destroy any sparsity.
robust
scales and translates each feature according to the Interquartile range. 
When the dataset contains outliers, the robust scaler often gives
better results.

In [ ]:
# Transformation of variable, features or target

In [ ]:
# for scale data
transformation = False,True
transformation_method: str = 'yeo-johnson'or 'quantile'

    
transform_target: bool = False,
transform_target_method: str = 'yeo-johnson' or  'quantile' 
    they transform the variables to normal

In [ ]:

fold_strategy: Union[str, Any] = 'kfold',
    fold: int = 10,

In [ ]:
# experiment_regression = setup(data=data1, target="Happyness_Score",
                             train_size= 0.8)

In [ ]:
# second Part of the video

In [ ]:
feature_selection: bool = False,
    feature_selection_method: str = 'classic',
    feature_selection_estimator: Union[str, Any] = 'lightgbm',
    n_features_to_select: Union[int, float] = 0.2,
    
low_variance_threshold: Optional[float] = None,

In [ ]:
Target imbalance
fix_imbalance = True, SMOTE (Synthetic Minority Over-sampling Technique)is default
fix_imbalance_method= other methods can be dealth later
Example: 
from imblearn.over_sampling import *
adasyn1 = ADASYN(sampling_strategy='minority')

test and train data set split
train_size: float = 0.7

inorder to get information regarding the global variables use
get_config()

In [ ]:
# get_config()
x1 = get_config('X')
y1 = get_config('y')

In [ ]:
#x1, y1

This function is used to reset global environment variables.
set_config()

In [25]:
set_config('seed', 123)

In [26]:
# create a specific model, say linear regression
regression1 = reg_exp.create_model('lr')

In [27]:
#Study the output of the model
regression1.coef_

array([ 7.68589444e+00,  1.42694171e-17, -2.30887429e-15,  1.26027227e-15,
        3.62640991e-15,  1.62352998e-15, -4.73245450e-15,  5.22414648e-15])

In [28]:
# multicollinearity

experiment_regression = setup(data=data1, target="Happyness_Score", 
                              numeric_features=["GDP",
                                                "Social_support", 
                                                "Healthy_life_expectancy",  
                                                "Freedom_to_make_life_choices", 
                                                "Generosity",  
                                                "Perceptions_of_corruption"], 
                             ignore_features=["Country", "SNO"], 
                             remove_multicollinearity=True)

In [ ]:
regression2 = experiment_regression.create_model('lr')

In [ ]:
evaluate_model(regression2)

In [ ]:
evaluate_model(regression1)

In [ ]:
# we can use any data for prediction, from 
#predict_model(regression1)
#predict_model(regression1, data=data1)

In [ ]:
dashboard(regression1, display_format='dash')
# click on the, Starting ExplainerDashboard on 
# http://10.25.112.104:8050, to get the dashboard

# inline can also be used
#dashboard(regression1, display_format='inline')